body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  alignment: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.calendarDiv {
  height: 60px
}

.calendarCol {
  width: 14%
}

#Edit {
  z-index: 2;
  position: absolute;
  left: 20%;
  top: 30%;
  width: 50%;
  height: 200px;
  background-color: rgb(230, 230, 230);
  border: black 10px;
  box-shadow: 0 0 1px 1px black;
}